<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav >ul{
            display: flex;
            justify-content: center;
            gap:20px;
        }
        ul{
            list-style: none;
        }
        a{
            font-size: large;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Add posts</a></li>
            <li><a href="/posts">View Posts</a></li>
        </ul>
    </nav>
</body>
</html>